.top-bar,
.top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .menu > li a {
    color: #fff;
  }
  .active-link {
    font-weight: bold;
  }
}